body {
    background-color: #f3f2f2;
    padding-top: 20px;
}


.todilo-app {
    background-color: white;
    border-radius: 4px;
    border: 1px solid #dddddd;
    width: 500px;
    margin-right: auto;
    margin-left: auto;

    h1 {
        text-align: center;
        margin: 0;
        padding-top: 41px;
        padding-bottom: 41px;
        border-bottom: 1px dashed #c7c5c5;
    }

    form {
        padding: 20px;
        font-size: 14px;
        display: flex;

        input {
            flex: 1;
            border-radius: 4px;
            border: 1px solid #a8a7a7;
            padding: 8px;
            margin-right: 8px;
        }

        button {
            width: 142px;
            border-radius: 4px;
            border: 1px solid #878787;
            padding: 8px 0;
            color: #565656;
            /*1px white on top, top half lighter grey, bottom half darker gray*/
            background-image: linear-gradient(to bottom, white, #e6e5e4 1px, #e6e5e4 40%, #cecdcb 60%, #cecdcb);

            &:active {
                background-image: linear-gradient(to bottom, white, #cecdcb 1px, #cecdcb 40%, #e6e5e4 60%, #e6e5e4);
            }
        }
    }


    .empty-state {
        padding: 20px;
        text-align: center;
        min-height: 270px;
    }


    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        min-height: 270px;

        li {
            display: flex;
            padding: 20px;
            align-items: center;
            /*if not set its transparent and looks weird when dragging*/
            background-color: white;

            &.odd {
                background-color: #F2F5F8;
            }

            &.completed .text {
                text-decoration: line-through;
                color: #878787;
            }

            /*this is style of the card when dragging, but is seen on the*/
            /*actual card in the list, not on the image that is pinned to*/
            /*mouse when dragging. This changes the card to style of drop*/
            /*drop target. This works because cards are actualy switched*/
            /*before dragging ends and you are allways dropping the card on*/
            /*itself, which at the time seems like drop target.*/
            &.is-dragging {
                margin: 8px;
                padding: 10px;
                border: 2px dashed #ddd;

                input, button, div {
                    visibility: hidden;
                }
            }

            input {
                margin-right: 8px;
            }

            .text {
                flex: 1;
            }

            i {
                color: #878787;
                cursor: row-resize;
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-top: 1px dashed #c7c5c5;

        .items-left {
            color: #878787;
        }

        button {
            $color: #427bbc;

            /* button dissapears if there is nothing to mark,
               pading makes footer resize */
            padding: 0;
            border: none;
            background-color: transparent;
            color: $color;
            &:hover {
                color: darken($color, 10%);
            }
        }
    }
}
